<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard 8x4</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleone.css') }}">
</head>
<body>

    <div class="container">
        <h1 class="center">*<span class="altdot">*</span>* Checkerboard 8<span class="altdot">x</span>4 *<span class="altdot">*</span>* </h1>
        <div class="board">
            <table class="center">
                <tr>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                </tr>
                <tr>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                </tr>
                <tr>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                </tr>
                <tr>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                    <td><div class="box"></div></td>
                    <td><div class="red box"></div></td>
                </tr>
            </table>
        </div>





    </div>
    
</body>
</html>